<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered" id="cpSummaryTable">
    <thead>
    <tr>
      <th scope="col" sortable="pathId" (sort)="onSort($event)">Path Id</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Path Description</th>
      <ng-container *ngIf="!readOnlyMode">
        <th scope="col"></th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
	<tr *ngFor="let item of tableItems">
      <td><a routerLink="{{baseUrl}}/{{item.id}}" [attr.aria-label]="'control path' + item?.pathId" [attr.data-cy]="'control path' + item?.pathId">{{item.pathId}}</a></td>
      <td>{{item.description}}</td>
      <ng-container *ngIf="!readOnlyMode">
        <td><a routerLink="." (click)="openDeleteModal(item.pathId, item.id, item.facilitySiteId)" [attr.aria-label]="'delete control path' + item?.pathId">
          <fa-icon icon="trash-alt"></fa-icon>
        </a></td>
      </ng-container>
	</tr>
	<ng-container *ngIf="!readOnlyMode">
      <tr>
        <td colspan="2"></td>
        <td><a routerLink="{{baseUrl}}/create" aria-label="add control path" id="tblAddControlPathBtn"><fa-icon [icon]="faPlus"></fa-icon></a></td>
      </tr>
    </ng-container>
	</tbody>
  </table>
</div>