<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="row  pb-2">
                <div class="col-sm-12 col-md-4" ><strong>Agency Facility ID:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.agencyFacilityIdentifier}}</div>
                <div class="col-sm-12 col-md-4"><strong>Facility Name:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.name}}</div>
                <div class="col-sm-12 col-md-4"><strong>Operating Status:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.operatingStatusCode?.description}}</div>
                <div class="col-sm-12 col-md-4"><strong>Status Year:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.statusYear}}</div>
                <div class="col-sm-12 col-md-4"><strong>Facility Category Code:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.facilityCategoryCode?.name}}</div>
                <div class="col-sm-12 col-md-4"><strong>Facility Address:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.streetAddress}}<br/>{{facility.city}}, {{facility?.stateCode?.uspsCode}}&nbsp;{{facility.postalCode}}</div>
                <div class="col-sm-12 col-md-4"><strong>County:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.countyCode?.name}}</div>
                <div class="col-sm-12 col-md-4"><strong>Mailing Address:</strong></div>
                <div class="col-sm-12 col-md-8">
                    <span *ngIf="facility.mailingStreetAddress">
                        {{facility.mailingStreetAddress}}<br/>{{facility.mailingCity}}, {{facility?.mailingStateCode?.uspsCode}}&nbsp;{{facility.mailingPostalCode}}
                    </span>
                </div>
                <div class="col-sm-12 col-md-4"><strong>BIA Code:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.tribalCode?.description}}</div>
                <div class="col-sm-12 col-md-4"><strong>Latitude:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.latitude}}</div>
                <div class="col-sm-12 col-md-4"><strong>Longitude:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.longitude}}</div>
                <div class="col-sm-12 col-md-4"><strong>Description:</strong></div>
                <div class="col-sm-12 col-md-8">{{facility.description}}</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-7">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <strong>Facility Users</strong>
                        </div>
                        <div class="card-body">
                            <app-user-facility-association-table [tableData]="userFacilityAssociations" [facility]="facility"></app-user-facility-association-table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Facility NAICS Codes</strong>
                </div>
                <div class="card-body">
                    <app-master-facility-naics-table [facility]="facility" [tableData]="facility.masterFacilityNAICS"></app-master-facility-naics-table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <strong>Facility Permit</strong>
                </div>
                <div class="card-body">
                    <app-master-facility-permit-table [facility]="facility" [tableData]="facility.masterFacilityPermits"></app-master-facility-permit-table>
                </div>
            </div>
        </div>
    </div>

</div>
