<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="card">
  <div class="card-header text-center">
    <strong>My Facilities</strong>
  </div>
  <div class="list-group list-group-flush">
    <div class="text-center">
        <a class="btn btn-primary m-3" routerLink="search">Request Access to a New Facility</a>
    </div>
    <div *ngFor="let facility of facilities" class="list-group-item">
      <app-facility-list-item [facility]="facility"></app-facility-list-item>
    </div>
  </div>
</div>