<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div *ngIf="announcementEnabled && announcementText">
  <div class="container">
      <div class="card  mb-3">
        <div class="card-header text-center">
          <strong>Announcement Banner</strong>
        </div>

        <div class="card-body">
          <form [formGroup]="propertyForm" class="px-3">
            <div class="row pb-2">
              Announcement Banner will be displayed for all NEI Certifiers and Preparers based on the criteria entered below.
            </div>
            <div class="row pb-2">
              <div class="float-right form-group form-check">
                  <input type="checkbox" class="form-check-input" id="enabledCb" formControlName="enabled" >
                  <label for="enabledCb" class="form-check-label"><strong>Display announcement</strong></label>
              </div>
            </div>
            <div class="row pb-2">
              <div class="form-group w-100">
                <label for="announcementTextTa"><strong>Announcement:</strong></label>
                <editor
	                  [init]="{
					     height: 200,
					     menubar: false,
					     plugins: [
					       'advlist autolink lists link charmap print preview anchor',
					       'searchreplace visualblocks fullscreen',
					       'insertdatetime table paste help wordcount'
					     ],
					     toolbar:
					       'undo redo | formatselect | bold italic underline backcolor | ' +
					       'alignleft aligncenter alignright alignjustify | ' +
					       'bullist numlist outdent indent | removeformat | help'
					   }"
					   id="announcementTextTa" formControlName="text">
					 </editor>
                <app-validation-message [control]="propertyForm.get('text')"></app-validation-message>
              </div>
            </div>

            <div class="float-right mt-3">
              <button type="button" class="btn btn-success" (click)="onSubmit()">Update Properties</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
