<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="container print-page-break">
    <h2 class="pl-3 child-header">Control Devices</h2>
    <div class="col">
        <div class="pb-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Control ID</th>
                        <th>Control Description</th>
                        <th>Operating Status</th>
                    </tr>
                </thead>
                <tbody>
				<tr th:unless="${fs.controls ne null and !fs.controls.isEmpty()}">
					<td></td>
					<td></td>
					<td></td>
				</tr>
                <tr th:each="control : ${T(gov.epa.cef.web.controller.CorController).getSortedControlList(fs.controls)}">
                    <th th:text="${control.identifier}"></th>
                    <td th:text="${control.description}"></td>
                    <td th:if="${control.operatingStatusCode ne null}" th:text="${control.operatingStatusCode.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:each="control : ${T(gov.epa.cef.web.controller.CorController).getSortedControlList(fs.controls)}">
            <div class="pb-5">
				<h3 class="pb-3"><strong>Control Device Information</strong></h3>
                <div><strong>Control ID:</strong> <span th:text="${control.identifier}"></span></div>
                <div><strong>Control Measure:</strong> <span th:text="${control.controlMeasureCode?.description}"></span></div>
                <div><strong>Control Description:</strong> <span th:text="${control.description}"></span></div>
                <div><strong>Operating Status:</strong> <span th:text="${control.operatingStatusCode?.description}"></span></div>
                <div><strong>Year Op Status Changed:</strong> <span th:text="${control.statusYear}"></span></div>
                <div><strong>Number of Operating Months:</strong> <span th:text="${control.numberOperatingMonths}"></span></div>
                <div><strong>% Control Effectiveness:</strong> <span th:text="${control.percentControl}"></span></div>
                <div><strong>Start Date:</strong> <span th:text="${control.startDate}"></span></div>
                <div><strong>End Date:</strong> <span th:text="${control.endDate}"></span></div>
                <div><strong>Upgrade Date:</strong> <span th:text="${control.upgradeDate}"></span></div>
                <div><strong>Upgrade Description:</strong> <span th:text="${control.upgradeDescription}"></span></div>
                <div><strong>Comments:</strong> <span th:text="${control.comments}"></span></div>
            </div>
            <div class="pb-5">
                <div class="pl-5">
					<h3 class="pb-3"><strong>Control Device Pollutants</strong></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Pollutant Name</th>
                                <th>Code</th>
                                <th>CAS ID</th>
                                <th>% Reduction Efficiency</th>
                            </tr>
                        </thead>
                        <tbody>
						<tr th:unless="${control.pollutants ne null and !control.pollutants.isEmpty()}">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
                        <tr th:each="pollutant : ${T(gov.epa.cef.web.controller.CorController).getSortedControlPollutantList(control.pollutants)}">
                            <th th:text="${pollutant.pollutant.pollutantName}"></th>
                            <td th:text="${pollutant.pollutant.pollutantCode}"></td>
                            <td th:text="${pollutant.pollutant.pollutantCasId}"></td>
                            <td th:text="${pollutant.percentReduction}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
