<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="container print-page-break">
    <h1 class="pl-3 pb-5 child-header">Facility</h1>
    <h2 class="pl-3 pb-3"><strong>Facility Information</strong></h2>
    <div class="col pl-3 pb-5">
		<div><strong>Agency Facility ID:</strong> <span th:text="${fs.agencyFacilityIdentifier}"></span></div>
        <div><strong>Facility Name:</strong> <span th:text="${fs.name}"></span></div>
		<div><strong>Facility Category Code:</strong> <span th:text="${fs.facilityCategoryCode?.description}"></span></div>
    	<div><strong>Operating Status:</strong> <span th:text="${fs.operatingStatusCode.description}"></span></div>
		<div><strong>Year Op Status Changed:</strong> <span th:text="${fs.statusYear}"></span></div>
		<div><strong>Latitude:</strong> <span th:text="${fs.latitude}"></span></div>
		<div><strong>Longitude:</strong> <span th:text="${fs.longitude}"></span></div>
    	<div><strong>Facility Address:</strong> <span th:text="|${fs.streetAddress}, ${fs.city} ${fs.stateCode?.uspsCode} ${fs.postalCode}|"></span></div>
		<div><strong>County:</strong> <span th:text="${fs.countyCode?.name}"></span></div>
		<div><strong>Mailing Address:</strong> <span th:text="|${fs.mailingStreetAddress}, ${fs.mailingCity} ${fs.mailingStateCode?.uspsCode} ${fs.mailingPostalCode}|"></span></div>
		<div><strong>BIA Code:</strong> <span th:text="${fs.tribalCode?.description}"></span></div>
		<div><strong>Description:</strong> <span th:text="${fs.description}"></span></div>
		<div><strong>Comments:</strong> <span th:text="${fs.comments}"></span></div>
    </div>
	<div class="col pb-5 print-page-break">
        <h2 class="pt-1"><strong>Facility North American Industrial Classification System (NAICS) Code</strong></h2>
        <table class="table">
            <thead>
                <tr>
                    <th>NAICS Code</th>
                    <th>NAICS Description</th>
                    <th>NAICS Code Type</th>
                </tr>
            </thead>
            <tbody>
			<tr th:unless="${fs.facilityNAICS ne null and !fs.facilityNAICS.isEmpty()}">
				<td></td>
				<td></td>
				<td></td>
			</tr>
            <tr th:each="naics : ${T(gov.epa.cef.web.controller.CorController).getSortedNaicsList(fs.facilityNAICS)}">
                <th th:text="${naics.naicsCode.code}"></th>
                <td th:text="${naics.naicsCode.description}"></td>
                <td th:text="${naics.naicsCodeType}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col pb-5" th:each="contact : ${fs.contacts}">
		<h2 class="pb-3"><strong>Facility Contact Information</strong></h2>
        <div><strong>Contact Type:</strong> <span th:text="${contact.type.description}"></span></div>
        <div>
            <strong>Contact Name:</strong>
            <span th:if="${contact.prefix ne null}" th:text="${contact.prefix} + ' '"></span>
            <span th:text="|${contact.firstName} ${contact.lastName}|"></span>
        </div>
        <div><strong>Phone Number:</strong> <span th:text="${contact.phone}"></span></div>
        <div><strong>Ext:</strong> <span th:text="${contact.phoneExt}"></span></div>
        <div><strong>Email Address:</strong> <span th:text="${contact.email}"></span></div>
        <div><strong>Contact Address:</strong> <span th:text="|${contact.streetAddress}, ${contact.city} ${contact.stateCode?.uspsCode} ${contact.postalCode}|"></span></div>
        <div><strong>County:</strong> <span th:text="${contact.countyCode?.name}"></span></div>
        <div><strong>Mailing Address:</strong>
            <span th:if="${contact.mailingStreetAddress ne null}" th:text="|${contact.mailingStreetAddress},|"></span>
            <span th:if="${contact.mailingCity ne null}" th:text="|${contact.mailingCity} |"></span>
            <span th:if="${contact.mailingStateCode ne null}"
                  th:text="|${contact.mailingStateCode?.uspsCode} |"></span>
            <span th:if="${contact.mailingPostalCode ne null}" th:text="${contact.mailingPostalCode}"></span>
        </div>
    </div>
</div>
