<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="container print-page-break pb-5">
    <h1 class="pb-4 pl-3 child-header">Report Summary</h1>
    <div class="col-12">
		<table class="summary-table">
			<thead>
				<tr>
					<th>Pollutant</th>
					<th>Type</th>
					<th>Fugitive Amount</th>
					<th>Stack Amount</th>
					<th>Units of Measure</th>
					<th><span th:text="${report.getYear()}" /> Reported Emissions</th>
					<th>Previous Year Reported Emissions</th>
					<th>Previous Submitted Year</th>
				</tr>
			</thead>
			<tbody>
			<tr th:unless="${reportSummary ne null and !reportSummary.isEmpty()}">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="summary-tr" th:each="row : ${reportSummaryTon}">
                <td th:text="${row.pollutantName}" th:style="'font-weight: bold; word-break: break-all;'"></td>
				<td th:text="${row.pollutantType}"></td>
				<td th:text="${row.fugitiveTonsTotal}"></td>
				<td th:text="${row.stackTonsTotal}"></td>
				<td style="width:5%">Tons</td>
				<td th:text="${row.emissionsTonsTotal}"></td>
				<td th:text="${row.previousYearTonsTotal ne null} ? ${row.previousYearTonsTotal} : 'None Reported'"></td>
				<td th:text="${row.previousYear}" th:style="'width:5%'"></td>
			</tr>
            <tr th:if="${reportSummaryCuries ne null and !reportSummaryCuries.isEmpty()}" class="summary-tr" th:each="row : ${reportSummaryCuries}">
                <td th:text="${row.pollutantName}" th:style="'font-weight: bold; word-break: break-all;'"></td>
                <td th:text="${row.pollutantType}"></td>
                <td th:text="${row.fugitiveTonsTotal}"></td>
                <td th:text="${row.stackTonsTotal}"></td>
                <td style="width:5%">Curies</td>
                <td th:text="${row.emissionsTonsTotal}"></td>
                <td th:text="${row.previousYearTonsTotal ne null} ? ${row.previousYearTonsTotal} : 'None Reported'"></td>
                <td th:text="${row.previousYear}" th:style="'width:5%'"></td>
            </tr>
				<tr>
					<th>Total Emissions (Tons) <span class="note" th:if="${reportSummaryCuries ne null and !reportSummaryCuries.isEmpty()}"><br/>Total Emissions do not include Radionuclides (Radioactivity -including Radon)</span></td>
					<th>--</th>
					<th>--</th>
					<th>--</th>
                    <th>--</th>
					<th th:text="${currentYearTotalEmissions}"></th>
					<th th:text="${previousYearTotalEmissions}"></th>
					<th>--</th>
				</tr>
			</tbody>
		</table>
        <div class="pt-4" th:if="${#strings.toString(report.getThresholdStatus())} =='OPERATING_BELOW_THRESHOLD'">
            <span th:text="|The ${fs.name} facility is &ldquo;Operating&rdquo; below the AERR thresholds for the ${report.year} inventory year. The emissions Inventory Report for the facility will not be submitted to EIS this year.|"></span>
        </div>
    </div>
</div>
