<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<p>
		Your request to access the <span th:text="${facilityName}"></span> facility as a 
		<span th:text="${role}"></span> in the Combined Air Emissions Reporting System has been rejected.
	</p>
	<div th:if="${!#strings.isEmpty(comments)}">
		<strong>Additional Comments:</strong><br/>
		<p th:text="${comments}" style="padding-top: 0; margin-top: 0"></p>
	</div>
	<p>
		If you did not request access in CAERS to this facility, or you believe this email was sent in 
		error, please contact the CDX Help Desk within 24 hours by using one of the options listed 
		at <a th:href="@{https://cdx.epa.gov/Contact}">https://cdx.epa.gov/Contact</a>. 
	</p>
</body>
</html>