<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<p>User feedback for <span th:text="${facilityName}" /> <span th:text="${reportingYear}" /> report has been submitted by - User: <span th:text="${userName}" /> - User Id: 
	<span th:text="${userId}" /> - User Role: <span th:text="${userRole}" /> </p>
	<p><strong>Ratings are given on a scale of 1-5.</strong></p>
	<p>1. Easy and intuitive navigation through the system: <span th:text="${intuitiveRating}" /> </p>
	<p>2. Data entry via screens: <span th:text="${dataEntryScreens}" /> </p>
	<p>3. Data entry via bulk upload template: <span th:text="${dataEntryBulkUpload}" /> </p>
	<p>4. Calculation screens and features: <span th:text="${calculationScreens}" /> </p>
	<p>5. Controls and control path assignments: <span th:text="${controlsAndControlPathAssignments}" /> </p>
	<p>6. Quality assurance checks: <span th:text="${qualityAssurance}" /> </p>
	<p>7. Overall reporting time: <span th:text="${overallReportingTime}" /> </p>
	<p>What application functionality did you find to be beneficial to your reporting experience?</p>
	<p><span th:text="${openQuestion1}" /></p>
	<p>Was there any particular application functionality you found to be difficult to use or understand?</p>
	<p><span th:text="${openQuestion2}" /></p>
	<p>What additional features or enhancements would improve your experience in the future?</p>
	<p><span th:text="${openQuestion3}" /></p>
</body>
</html>
