<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->

<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered" id="euSummaryTable">
    <thead>
    <tr>
      <th scope="col" sortable="unitIdentifier" (sort)="onSort($event)">Unit ID</th>
      <th scope="col" sortable="unitTypeCode.description" (sort)="onSort($event)">Unit Type</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Unit Description</th>
      <th scope="col" sortable="operatingStatusCode.description" (sort)="onSort($event)">Operating Status</th>
      <ng-container *ngIf="!readOnlyMode">
        <th scope="col"></th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of tableData">
      <td><a routerLink="{{baseUrl}}/{{item.id}}" [attr.aria-label]="'emissions unit' + item?.unitIdentifier" [attr.data-cy]="'emissions unit' + item?.unitIdentifier">
        {{item.unitIdentifier}}
      </a></td>
      <td>{{item.unitTypeCode.description}}</td>
      <td>{{item.description}}</td>
      <td>{{item.operatingStatusCode.description}}</td>
      <ng-container *ngIf="!readOnlyMode">
        <td>
          <a routerLink="." (click)="openDeleteModal(item)"
             [attr.aria-label]="'delete emissions unit' + item?.unitIdentifier"
             [attr.data-cy]="'delete emissions unit' + item?.unitIdentifier">
            <fa-icon icon="trash-alt"></fa-icon>
          </a>
        </td>
      </ng-container>
    </tr>
    <ng-container *ngIf="!readOnlyMode">
      <tr>
        <td colspan="4"></td>
        <td>
          <a routerLink="{{createUrl}}" aria-label="add emissions unit" id="tblAddEmissionsUnitBtn"><fa-icon [icon]="faPlus"></fa-icon></a>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

