<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div role="list">
	<button type="button" class="btn btn-link text-primary font-weight-bold text-left p-0"
      (click)="toggleCollapsedMapEntry()"
			[attr.aria-expanded]="!getCollapsedMapEntry()" [attr.data-cy]="'units ' + groupRange" >
			<app-collapse-icon [collapsed]='!getCollapsedMapEntry()'></app-collapse-icon>
		Units {{groupRange}}
	</button>
	<div *ngFor="let navItem of navItems | slice:group-25:group" role="listitem">
		<div class="row ml-2">
			<div [ngbCollapse]="!getCollapsedMapEntry()">
				<div class="row ml-2">
					<app-sidebar-inner-nav-item [navItem]="navItem" [baseUrl]="baseUrl" [paginatedGroupKey]="paginatedGroupKey">
          </app-sidebar-inner-nav-item>
				</div>
			</div>
		</div>
	</div>
</div>
