<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<form [formGroup]="naicsForm">
  <div class="modal-header">
    <h4 class="modal-title w-100">Search a NAICS Code to add to the facility</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <fa-icon class="mt-2 ml-2 mr-1" title="North American Industry Classification System code. The NAICS codes are U.S. Department of Commerce's codes for categorizing businesses by products or services. See: https://www.census.gov/eos/www/naics/." [icon]="['fas', 'question-circle']"></fa-icon>
    Search NAICS Code: 
    <app-required-asterisk [control]="naicsForm.get('selectedNaics')"></app-required-asterisk>
    <input [attr.aria-multiline]="null" id="facilityNAICS" type="text" class="form-control" formControlName="selectedNaics" aria-label="search NAICS"
    [ngbTypeahead]="searchNAICS" [inputFormatter]="naicsFormatter" [editable]="false" [resultFormatter]="naicsFormatter"/>
    <app-validation-message [control]="naicsForm.get('selectedNaics')"></app-validation-message>
    <div class="validation-message" *ngIf="naicsForm.errors?.invalidNaics">
      Selected NAICS Code is invalid. 
    </div>
  
    <div>
      <fa-icon class="mt-2 ml-2 mr-1" title="The 6 digit NAICS Code that represents the largest amount of economic activity of the facility." [icon]="['fas', 'question-circle']"></fa-icon>
      Is this the Primary NAICS for facility?
      <app-required-asterisk [control]="naicsForm.get('selectedNaics')"></app-required-asterisk>
      <select id="cbo-code-type" style="width: 150px"
              class="form-control form-control-sm mr-3"
              [(ngModel)]="selectedNaicsCodeType"
              aria-label="select naics code type"
              [ngModelOptions]="{standalone: true}">
        <option value="PRIMARY">Primary</option>
        <option value="SECONDARY">Secondary</option>
        <option value="TERTIARY">Tertiary</option>
      </select>
      <span class="validation-message" *ngIf="existingPrimaryCode && selectedNaicsCodeType === naicsCodeType.PRIMARY" >Each facility must have only one NAICS code assigned as primary.</span>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onClose()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </div>
</form>