<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div *ngIf="!readOnlyMode || activeComment">
    <div class="row validation-item-warning" *ngIf="readOnlyMode">
        <div class="col-sm-6 col-md-2"><strong>Reviewer Comment:</strong></div>
        <div class="col-sm-6 col-md-10">{{activeComment?.message}}</div>
    </div>
    <div *ngIf="!readOnlyMode">
        <hr/>
        <div class="row" *ngIf="activeComment">
            <div class="col-sm-6 col-md-2"><strong>Previous Comment:</strong></div>
            <div class="col-sm-6 col-md-10">{{activeComment?.message}}</div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-2"><strong>Reviewer Comment:</strong></div>
            <div class="col-sm-6 col-md-10">{{draftComment?.message}}</div>
        </div>
        <div class="row">
            <button class="btn btn-success btn-md my-3 ml-3" (click)="openCommentModal()">
                Add Reviewer Comment
            </button>
        </div>
    </div>
</div>
