<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->
<div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center">
          <strong>Pending Authorization Requests</strong>
        </div>
        <div class="card-body">
          
          <div class="mh-100 overflow-auto">
            <table class="table table-sm table-striped table-bordered">
              <thead class="thead-cef-medium">
                <tr>
                  <th scope="col"></th>
                  <th scope="col" sortable="fullName" (sort)="onSort($event)">Name</th>
                  <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                  <th scope="col" sortable="roleDescription" (sort)="onSort($event)">Role</th>
                  <th scope="col" sortable="masterFacilityRecord.name" (sort)="onSort($event)">Facility Name</th>
                  <th scope="col" sortable="lastModifiedDate" (sort)="onSort($event)">Date Requested</th>
                  <th scope="col" sortable="masterFacilityRecord.agencyFacilityIdentifier" (sort)="onSort($event)">Facility ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!tableItems || tableItems.length === 0">
                  <td colspan="7" class="text-center">
                      <strong class="text-larger">No data available.</strong>
                  </td>
                </tr>
                <tr *ngFor="let item of tableItems">
                  <td><input type="checkbox" [attr.aria-label]="" [(ngModel)]="item.checked" class="form-check-inline mr-0"/></td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.roleDescription}}</td>
                  <td>{{item.masterFacilityRecord.name}}</td>
                  <td>{{item.lastModifiedDate | date: 'short'}}</td>
                  <td>{{item.masterFacilityRecord.agencyFacilityIdentifier}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col">
              <div class="float-right pb-3 pr-3">
                <button type="button" class="btn btn-success mr-2" (click)="openApproveModal()" [disabled]="!selectedAssociations()?.length">Authorize Requests</button>
                <button type="button" class="btn btn-primary mr-2" (click)="openRejectModal()" [disabled]="!selectedAssociations()?.length">Reject Requests</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>