<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="card mb-3">
	<div class="card-header text-center">
		<strong>Help Resources</strong>
	</div>
	<div class="card-body">
    <div class="row mb-1">
        <strong class="text-large">Data Collection Authority</strong>
    </div>
    <table class="table table-sm table-bordered col-sm-5 ml-2">
        <thead class="help-table-header-background">
        <tr>
            <th><a class="ml-1" href="https://www.reginfo.gov/public/do/PRASearch" target="_blank">OMB Control No</a></th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2060-0580</td>
            <td>Air Emissions Reporting Requirements (AERR) (Renewal)</td>
        </tr>
        <tr>
            <td>2070-0212</td>
            <td>Toxic Chemical Release Reporting (Renewal)</td>
        </tr>
        <tr>
            <td>2060-0003</td>
            <td>Prevention of Significant Deterioration and Non-Attainment New Source Review (Renewal)</td>
        </tr>
        </tbody>
    </table>
		<div class="row mt-3 mb-1">
            <strong class="text-large">Application Support</strong>
		</div>
		<div class="row ml-2 mb-1">
            For the most recent version of the CAERS user guide and its appendices (including the glossary and default heat content ratios), NEI-TRI pollutant crosswalk, and video trainings navigate to the
            <a class="ml-1" href="https://www.epa.gov/combined-air-emissions-reporting/combined-air-emissions-reporting-system-caers" target="_blank">CAERS Resources for Industry Reporters</a>&nbsp;webpage.
		</div>
		<div class="row mt-3 mb-1">
            <strong class="text-large">CAERS Helpdesk Support</strong>
		</div>
		<div class="row mr-1 ml-2">
			The CDX Helpdesk Support is also your CAERS Helpdesk Support.
		</div>
		<div class="row mr-1 ml-2">Please contact the CDX Helpdesk by using one of the options listed at
			<a class="ml-1" href="https://cdx.epa.gov/Contact" target="_blank">https://cdx.epa.gov/Contact</a>.
		</div>
		<div class="row mt-3 mb-1">
            <strong class="text-large">Program Support</strong>
		</div>
		<div class="row">
			<Strong class="mr-1 ml-4 mb-1">Note:</Strong>Questions relating specifically to emissions reporting and facility data should be directed to your SLT Authority.
		</div>
		<ul>
      <li>Arizona Department of Environmental Quality (AZDEQ):
        <a class="ml-1" href="mailto:EmissionInventory@azdeq.gov">
          EmissionInventory@azdeq.gov</a>, (602) 771-2373
      </li>
        <li>Facilities on Tribal Lands in EPA Region 10 (TR115, TR124, TR142, TR180, TR181, & TR182):
            <a class="ml-1" href="mailto:brown.carl@epa.gov">
                brown.carl@epa.gov</a>, (208) 378-5747
        </li>
      <li>Georgia Department of Natural Resources (GADNR):
        <a class="ml-1" href="mailto:Emissions.Inventory@dnr.ga.gov">
          Emissions.Inventory@dnr.ga.gov</a>, (470) 524-0723
      </li>
      <li>Idaho Department of Environmental Quality (IDDEQ):
        <a class="ml-1" href="mailto:erin.danenberg@deq.idaho.gov">
          erin.danenberg@deq.idaho.gov</a>, (208) 373-0236
      </li>
      <li>Maine Department of Environmental Protection (MEDEP):
        <a class="ml-1" href="mailto:DEP-EmissionsInventory@maine.gov">
          DEP-EmissionsInventory@maine.gov</a>, (207) 815-7684
      </li>
      <li>Mississippi Department of Environmental Quality (MSDEQ):
        <a class="ml-1" href="mailto:caers@mdeq.ms.gov">
            caers@mdeq.ms.gov</a>, (601) 961-5768
      </li>
      <li>Pima County Department of Environmental Quality (PCDEQ):
        <a class="ml-1" href="mailto:kristen.randall@pima.gov">
          kristen.randall@pima.gov</a>, (520) 724-7341
      </li>
      <li>Rhode Island Department of Environmental Management (RIDEM):
        <a class="ml-1" href="mailto:Alexi.Mangili@dem.ri.gov">
          Alexi.Mangili@dem.ri.gov</a>, (401) 537-4384
      </li>
      <li>Washington, D.C. Department of Energy & Environment (DOEE):
        <a class="ml-1" href="mailto:air.quality@dc.gov">
          air.quality@dc.gov</a>, (202) 535-2600
      </li>
		</ul>
	</div>

</div>
