<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div class="card mb-3">
    <div class="card-header text-center">
        <strong>Facility Information</strong>
        <div class="float-right" *ngIf="!editInfo && !readOnlyMode">
            <button type="button" class="btn btn-success" aria-label="edit facility information" (click)="setEditInfo(true)">Edit</button>
        </div>
    </div>
    <div *ngIf="facilitySite" class="card-body">
        <div *ngIf="!editInfo">
            <div class="row  pb-2">
                <div class="col-sm-6 col-md-2" ><strong>Agency Facility ID:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.agencyFacilityIdentifier}}</div>
                <div class="col-sm-6 col-md-2"><strong>Latitude:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.latitude}}</div>
                <div class="col-sm-6 col-md-2"><strong>Operating Status:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.operatingStatusCode?.description}}</div>
            </div>

            <div class="row  pb-2">
                <div class="col-sm-6 col-md-2"><strong>Facility Name:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.name}}</div>
                <div class="col-sm-6 col-md-2"><strong>Longitude:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.longitude}}</div>
                <div class="col-sm-6 col-md-2"><strong>Year Op Status Changed:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.statusYear}}</div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Facility Category Code:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.facilityCategoryCode?.name}}</div>
                <div class="col-sm-6 col-md-2"><strong>Datum:</strong></div>
                <div class="col-sm-6 col-md-2">World Geodetic System of 1984</div>


            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Facility Address:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.streetAddress}}<br/>{{facilitySite.city}}, {{facilitySite?.stateCode?.uspsCode}}&nbsp;{{facilitySite.postalCode}}</div>
                <div class="col-sm-6 col-md-2"><strong>Mailing Address:</strong></div>
                <div class="col-sm-6 col-md-2">
                    <span *ngIf="facilitySite.mailingStreetAddress">
                        {{facilitySite.mailingStreetAddress}}<br/>{{facilitySite.mailingCity}}, {{facilitySite?.mailingStateCode?.uspsCode}}&nbsp;{{facilitySite.mailingPostalCode}}
                    </span>
                </div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>County:</strong></div>
                <div class="col-sm-6 col-md-2">{{facilitySite.countyCode?.name}}</div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>BIA Code:</strong></div>
                <div class="col-sm-6 col-md-6">{{facilitySite.tribalCode?.description}}</div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-2"><strong>Description:</strong></div>
                <div class="col-sm-6 col-md-10">{{facilitySite.description}}</div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-2"><strong>Comments:</strong></div>
                <div class="col-sm-6 col-md-10">{{facilitySite.comments}}</div>
            </div>

            <app-reviewer-comment [entityId]="facilitySite.id" [entityType]="entityType.FACILITY_SITE"></app-reviewer-comment>

        </div>

        <div *ngIf="editInfo">
            <app-edit-facility-site-info-panel [facilitySite]="facilitySite"></app-edit-facility-site-info-panel>
            <div class="float-right pb-3 pr-3" *ngIf="facilitySiteComponent">
                <button type="button" class="btn btn-primary mr-2" (click)="setEditInfo(false)">Cancel</button>
                <button type="submit" class="btn btn-success" (click)="updateFacilitySite()">Save</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="facilitySite">
    <div class="card mb-3">
        <div class="card-header text-center">
            <strong>Facility NAICS Codes</strong>
        </div>
    <div class="card-body">
        <app-facility-naics-table [tableData]="facilitySite.facilityNAICS" [readOnlyMode]="readOnlyMode"></app-facility-naics-table>
    </div>
</div>

    <div class="card mb-3">
        <div class="card-header text-center">
            <strong>Facility Permits</strong>
        </div>
        <div class="card-body">
            <app-facility-permit-table [tableData]="facilityPermits"></app-facility-permit-table>
        </div>
    </div>

<div *ngIf="facilitySite">
    <div class="card mb-3" *ngFor="let contact of facilitySite.contacts">
        <div class="card-header text-center">
            <strong>Facility Contact Information</strong>
            <div class="float-right" *ngIf="!editDetails && !readOnlyMode">
                <button type="button" class="btn btn-success" [routerLink]="[createUrl, contact.id]" [attr.aria-label]="'edit' + contact?.firstName + contact?.lastName + 'contact information'">Edit</button>&nbsp;
                <a routerLink="." (click)="openDeleteModal(contact.firstName, contact.lastName, contact.id, contact.facilitySiteId)"
                        [attr.aria-label]="'delete contact ' + contact?.firstName + ' ' + contact?.lastName"
                        [attr.data-cy]="'deleteContact'+ contact?.firstName + contact?.lastName">
                    <fa-icon icon="trash-alt"></fa-icon>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Type:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact?.type.description}}</div>
                <div class="col-sm-6 col-md-2"><strong>Phone Number:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.phone | phoneNumber}}</div>
                <div class="col-sm-6 col-md-2"><strong>Ext:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.phoneExt}}</div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Name:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.firstName}} {{contact.lastName}}</div>
                <div class="col-sm-6 col-md-2"><strong>Email Address:</strong></div>
                <div class="col-sm-6 col-md-4">{{contact.email}}</div>
            </div>

            <div class="row pb-2">
                <div class="col-sm-6 col-md-2"><strong>Contact Address:</strong></div>
                <div class="col-sm-6 col-md-2">{{contact.streetAddress}}<br/>{{contact.city}}, {{contact.stateCode?.uspsCode}}&nbsp;{{contact.postalCode}}</div>
                <div class="col-sm-6 col-md-2"><strong>Mailing Address:</strong></div>
                <div class="col-sm-6 col-md-2">
                    <span *ngIf="contact.mailingStreetAddress">
                        {{contact.mailingStreetAddress}}<br/>{{contact.mailingCity}}, {{contact.mailingStateCode?.uspsCode}}&nbsp;{{contact.mailingPostalCode}}
                    </span>
                </div>
            <div class="col-sm-6 col-md-2"><strong>County:</strong></div>
            <div class="col-sm-6 col-md-2">{{contact.countyCode?.name}}</div>
            </div>
        </div>
    </div>
    <div class="float-right pb-3 pr-3" *ngIf="!editDetails && !readOnlyMode">
        <button type="button" class="btn btn-success btn-md my-3 ml-3" [routerLink]="[createUrl]">Add Facility Contact Information</button>
    </div>
</div>
</div>
