<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Swagger UI Configuration -->
    <servlet>
        <servlet-name>SwaggerServlet</servlet-name>
        <servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>
        <init-param>
            <param-name>openApi.configuration.resourcePackages</param-name>
            <param-value>com.example.api</param-value>
        </init-param>
        <init-param>
            <param-name>openApi.configuration.prettyPrint</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SwaggerServlet</servlet-name>
        <url-pattern>/openapi/*</url-pattern>
    </servlet-mapping>

    <!-- Swagger UI Static Resources -->
    <servlet>
        <servlet-name>SwaggerUI</servlet-name>
        <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
        <init-param>
            <param-name>disableCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SwaggerUI</servlet-name>
        <url-pattern>/swagger-ui/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SwaggerConfig</servlet-name>
        <servlet-class>gov.epa.cef.web.util.SwaggerConfig</servlet-class> <!-- Replace with the correct package for SwaggerConfig class -->
    </servlet>

    <servlet-mapping>
        <servlet-name>SwaggerConfig</servlet-name>
        <url-pattern>/swagger-ui/*</url-pattern>
    </servlet-mapping>

</web-app>
