<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If
 * not, see <https://www.gnu.org/licenses/>.
-->
<div *ngIf="facilitySite && !hideStepBar" class="row bs-wizard" aria-label="progress bar" style="border-bottom:0;">
	<div class="col-md bs-wizard-step" [ngClass]="isOneOf(facilitySite.emissionsReport.status, ['IN_PROGRESS', 'RETURNED', 'VALIDATED', 'SUBMITTED', 'APPROVED']) ? 'complete' : 'disabled'">
		<div class="text-center bs-wizard-stepnum">Report Facility & Emissions Information</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<span class="bs-wizard-dot"></span>
	</div>
	<div class="col-md bs-wizard-step" [ngClass]="(isOneOf(facilitySite.emissionsReport.status, ['IN_PROGRESS', 'RETURNED', 'SUBMITTED', 'APPROVED']) && isOneOf(facilitySite.emissionsReport.validationStatus, ['PASSED', 'PASSED_WARNINGS', 'SEMIANNUAL_PASSED', 'SEMIANNUAL_PASSED_WARNINGS'])) ? 'complete' : 'disabled'">
		<div class="text-center bs-wizard-stepnum">Perform Quality Checks</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<span class="bs-wizard-dot"></span>
	</div>
	<div class="col-md bs-wizard-step" [ngClass]="isOneOf(facilitySite.emissionsReport.status, ['SUBMITTED', 'APPROVED']) ? 'complete' : 'disabled'">
		<div class="text-center bs-wizard-stepnum">Submit to SLT Authority</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<span class="bs-wizard-dot"></span>
	</div>
	<div class="col-md bs-wizard-step" [ngClass]="isOneOf(facilitySite.emissionsReport.status, ['APPROVED']) ? 'complete' : 'disabled'">
		<div class="text-center bs-wizard-stepnum">Received by SLT Authority</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<span class="bs-wizard-dot"></span>
	</div>
</div>
