<!--
 * © Copyright 2019 EPA CAERS Project Team
 *
 * This file is part of the Common Air Emissions Reporting System (CAERS).
 *
 * CAERS is free software: you can redistribute it and/or modify it under the 
 * terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * CAERS is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with CAERS.  If 
 * not, see <https://www.gnu.org/licenses/>.
-->

<div class="mh-100 overflow-auto">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-cef-medium">
    <tr>
      <th scope="col" sortable="identifier" (sort)="onSort($event)">Identifier</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Component</th>
      <th scope="col" sortable="typeDesc" (sort)="onSort($event)">Type</th>
    </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of tableItems">
        <tr>
          <td><a [attr.aria-label]="item?.typeDesc + 'control device assignment' + item?.identifier" routerLink="{{baseUrl}}/{{item.type}}/{{item.id}}">{{item.identifier}}</a></td>
          <td>{{item.description}}</td>
          <td>{{item.typeDesc}}</td>
        </tr>
      </ng-container>
    </tbody>
    
  </table>
</div>
